.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.block {
  background-color: aqua;
  height: 500px;
  width: 500px;
}

.messages {
  height: 450px;
  width: 500px;
  overflow-y: auto;
}

.typeArea {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typeArea input {
  height: 40px;
  width: 400px;
}

.typeArea button {
  width: 100px;
  height: 50px;
}

.user-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: cadetblue;
  padding: 20px;
  position: relative;
  margin-top: 5px;
  top: 10px;
  left: 10px;
}

.user-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: cadetblue;
  padding: 20px;
  position: relative;
  margin-top: 5px;
  top: 10px;
  left: 240px;
}

.deleteMessage {
  position: absolute;
  top: -1px;
  right: 5px;
  text-decoration-line: none;
  font-weight: bold;
}